/* index */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-brand img {
    width: 50px;
}

.nav-link {
    color: rgb(255, 255, 255);
    padding: 30px 0px 30px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    ;
}

/* Estilos del banner */
.item1 {
    width: 100%;
    height: auto;
}

/* Estilos de los vehículos destacados */
.vehiculos-destacados {
    background-color: #ffb3b3;
    padding: 20px;
    text-align: center;
}

.vehiculos-destacados h2 {
    font-size: 30px;
}

.vehiculos-destacados span {
    color: red;
    font-size: 50px;
}

.bmw {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bmw-item img {
    max-width: 350px;
    width: 100%;
    height: auto;
    background-color: #ffffff00;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.comprar-button {
    display: inline-block;
    padding: 15px 30px;
    text-decoration: none;
    color: rgb(242, 235, 235);
    background-color: #020202;
    border: 2px solid #cbcbcb;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Estilos de los testimonios */
.testimonios {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-top: 0px;
    padding: 50px;
    background-color: #000000;
}

.testimonios h2 {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(177, 60, 60);
    height: 50px;
    padding: 15px;
    border-radius: 10px;
    margin-right: 300px;
}

.testimonios-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.testimonio1 {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.testimonio1 img {
    height: 200px;
    box-shadow: 0 0 20px #fc1717;
    margin-right: 50px;
}

.testimonio1 h3 {
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: left;
}

.testimonio1 p {
    margin-bottom: 20px;
    color: white;
    text-align: left;
}


iframe {
    margin: 0;
    width: 100%;
    height: 300px;
}

.fixed img {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 37px;
    margin: 10px;
}

@media (max-width: 1152px) {
    .testimonios  {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 1152px) {
    .testimonios h2 {
        margin-left: 250px;
    }
}    

@media (max-width: 725px) {
    .testimonios-container {
        flex-direction: column;
    }
}
@media (max-width: 725px) {
    .testimonios-container img {
        align-items: center;
    }
}

@media (max-width: 725px) {
    .fixed a img  {
        margin-right: 30px;
    }
}


/*STOCK**/
.body-stock {
    background-color: #000000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    /* Espacio entre las celdas de la cuadrícula */
    margin-top: 50px;
}

.titulo {
    grid-column: 1/ -1;
    color: #040000;
}

.grid-item {
    background-color: #fffffff9;
    padding: 0px;
    text-align: center;
}

.grid-item img {
    width: 250px;
    height: 200px;
}

.titulo h2 {
    font-size: 20px;
}

.grid-boton {
    background-color: #000000;
    color: white;
    margin-bottom: 5px;
    border-radius: 20px;
}

.container-boton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* Alinear los botones en el centro horizontalmente */
}

.boton-1 {
    margin-right: 10px;
}

.boton-1 button {
    background-color: #fc1717;
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: rgb(3, 1, 13);
    font-size: 16px;
    cursor: pointer; 
}

.boton-2 button {
    background-color: #00ff1e;
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    cursor: pointer;
}
}

.boton-1 button:hover {
    background-color: #d90e0e;
}

.iframe1 {
    margin: 0;
    width: 100%;
    height: 300px;
}
@media(max-width:789px) {
    .grid-container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}

@media(max-width:789px){
    .grid-item img{
        width: 400px;
    }
}

@media(max-width:789px){
    .grid-item h2{
        font-size: 40px;
        background-color: #00ff1e;
    }
}

@media(max-width:496px){
    .container-boton {
        align-items: center;
        flex-direction: column;
    }
}

/*NOSOTROS**/

.grid-container-nosotros {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual ancho */
    grid-template-rows: repeat(2, 1fr); /* Dos filas de igual altura */
    gap: 20px; /* Espacio entre los elementos */
}

.grid-container-nosotros > div {
    border: 1px solid #ccc; /* Borde para visualización */
    padding: 20px; /* Espaciado interno */
    text-align: center; /* Centrar contenido */
}